<div style="text-align:center">
    <h1>{{ nuevoJuego.nombre }}!</h1>
</div>
<h1 *ngIf="Mensaje">{{ Mensaje }}!</h1>
<dl>
  <dt>Leyenda</dt>
  <dd>Usuario : X</dd>
  <dd>Maquina : O</dd>
</dl>
<table>
  <tr>
    <td><app-tateti-casillero  [tomado]="EstaTomado(1)" (TomarCasillero)="Tomar(1)"  ></app-tateti-casillero></td>
    <td><app-tateti-casillero  [tomado]="EstaTomado(2)" (TomarCasillero)="Tomar(2)"  ></app-tateti-casillero></td>
    <td><app-tateti-casillero  [tomado]="EstaTomado(3)" (TomarCasillero)="Tomar(3)"  ></app-tateti-casillero></td>
  </tr>
  <tr>
      <td><app-tateti-casillero  [tomado]="EstaTomado(4)" (TomarCasillero)="Tomar(4)"  ></app-tateti-casillero></td>
      <td><app-tateti-casillero  [tomado]="EstaTomado(5)" (TomarCasillero)="Tomar(5)"  ></app-tateti-casillero></td>
      <td><app-tateti-casillero  [tomado]="EstaTomado(6)" (TomarCasillero)="Tomar(6)"  ></app-tateti-casillero></td>
  </tr>
  <tr>
      <td><app-tateti-casillero  [tomado]="EstaTomado(7)" (TomarCasillero)="Tomar(7)"  ></app-tateti-casillero></td>
      <td><app-tateti-casillero  [tomado]="EstaTomado(8)" (TomarCasillero)="Tomar(8)"  ></app-tateti-casillero></td>
      <td><app-tateti-casillero  [tomado]="EstaTomado(9)" (TomarCasillero)="Tomar(9)"  ></app-tateti-casillero></td>
  </tr>
</table>
