<!-- Page Wrapper -->
<div id="wrapper">
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
          <!-- body -->
          <div class="col-lg-6">
            <!-- Basic Card  -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Juegos</h6>
              </div>
              <div class="card-body">
                El método lúdico es un conjunto de estrategias diseñadas para
                crear un ambiente de armonía en los estudiantes que están
                inmersos en el proceso de aprendizaje. Este método busca que los
                alumnos se apropien de los temas impartidos por los docentes
                utilizando el juego.
              </div>
            </div>
            <!-- Basic Card  -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Listados de resultados
                </h6>
              </div>
              <div class="card-body">
                Los listados de los resultados con ordenamiento y busqueda.
                <button
                  type="button"
                  class="btn btn-primary"
                  routerLink="/Listado"
                >
                  Ingresar
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Basic Card  -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Configuración</h6>
              </div>
              <div class="card-body">
                Ajustes de la aplicacion y los métodos de autentificación.
                <button
                  type="button"
                  class="btn btn-primary"
                  routerLink="/Configuracion"
                >
                  Ingresar
                </button>
              </div>
            </div>
            <!-- Basic Card  -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Jugadores</h6>
              </div>
              <div class="card-body">
                Listado de jugadores
                <button
                  type="button"
                  class="btn btn-primary"
                  routerLink="/Jugadores"
                >
                  Ingresar
                </button>
              </div>
            </div>
          </div>
          <!-- /. body -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- End of Page Wrapper -->

  <app-logout></app-logout>
</div>
