
  <div class="container">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Crea tu cuenta!</h1>
                </div>
                <app-ayuda AlPresionarLogin="LlevarALogin()" ></app-ayuda>
                <form class="user" [formGroup]="registroForm"  (ngSubmit)="Registrar()" >
                  <div class="form-group">
                    <input type="nombre" class="form-control form-control-user"required [formControl]="nombre" name="nombre"   id="exampleInputNombre" placeholder="Ingrese su nombre">
                    <div *ngIf="NombreInput.invalid && (NombreInput.dirty || NombreInput.touched)" class="alert alert-danger">
                        <div *ngIf="NombreInput.errors.required">Complete con un email </div>
                        <div *ngIf="NombreInput.errors.minlength">Debe tener al menos  4 caracteres</div>
                        <div *ngIf="NombreInput.errors.maxlength">Debe tener maximo 255 caracteres</div>                        
                      </div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" required [formControl]="email" name="email"   id="exampleInputEmail" placeholder="Ingrese su email">
                    <div *ngIf="EmailInput.invalid && (EmailInput.dirty || EmailInput.touched)" class="alert alert-danger">
                        <div *ngIf="EmailInput.errors.required">Complete con un email </div>
                        <div *ngIf="EmailInput.errors.minlength">Debe tener al menos  4 caracteres</div>
                        <div *ngIf="EmailInput.errors.maxlength">Debe tener maximo 255 caracteres</div>
                        <div *ngIf="EmailInput.errors.pattern">Formato de email valido</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" required [formControl]="password" name="password"  id="exampleInputPassword" placeholder="Contraseña">
                    <div *ngIf="PasswordInput.invalid && (PasswordInput.dirty || PasswordInput.touched)" class="alert alert-danger">
                        <div *ngIf="PasswordInput.errors.required">Complete con un email </div>
                        <div *ngIf="PasswordInput.errors.minlength">Debe tener al menos  4 caracteres</div>
                        <div *ngIf="PasswordInput.errors.maxlength">Debe tener maximo 255 caracteres</div>                        
                      </div>
                  </div>                
                  <button type="submit" class="btn btn-primary btn-user btn-block" [disabled]="!registroForm.valid">Registrate</button>                  
                </form>
                <hr>
                <div class="text-center">
                  <a class="small"  routerLink="/Login">Ya tiene una cuenta? Ingresar!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-popup ></app-popup>
    <!--

    <h2 id="terminos">Terminos y condiciones</h2>
    <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
    <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
    <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>

    -->
