<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">{{ nuevoJuego.nombre }}</h1>
<h2 class="h6 mb-4 text-gray-800">
  Elegimos un numero secreto entre 1 y 100 intenta adivinarlo !!! Tenes {{ totalOportunidades }} intentos. 
</h2>
<app-ayuda (ReiniciarClick)="ReiniciarJuego()"></app-ayuda>      
<div class="row">
  <div class="col-lg-6">
    <!-- body-->
    <form name="juego" (submit)="verificar()">
        <label>Ingresa el numero que crees que elegimos</label>
        <input
          [(ngModel)]="nuevoJuego.numeroIngresado"
          name="numeroIngresado"
          type="number"
          class="form-control"
          style="width:50%"
        />
        <br/>
      <button
       type="submit"
        *ngIf="nuevoJuego.numeroSecreto != 0"       
        class="btn btn-success btn-lg"
      >
        ¿ Adivine ?
      </button>     
    </form>
    <!-- /.content -->
  </div>
</div>
