<form name="juego">
  <strong>Vamos a mostrarte una cuenta aritmetica debes completar su resultado en {{ tiempoIncial }} segundos </strong>  
  <app-ayuda ></app-ayuda>  
  <br/>
  <button (click)="NuevoJuego()" class="btn btn-success btn-lg"  [hidden]="!ocultarVerificar" >Empezar!!</button>
  
  <div class="row"  [hidden]="ocultarVerificar" >
      <div class="col-lg-10 resultado">
        <span class="operando">{{nuevoJuego.primerNumero}}</span>
        <span class="operador">{{nuevoJuego.operador | operador  }}</span>
        <span class="operando">{{nuevoJuego.segundoNumero}}</span>
        <span class="igual">=</span>
        <input [(ngModel)]="numeroIngresado" placeholder="Resultado" name="numeroIngresado" type="number" />        
      </div>    
  </div>
  <div class="row"  [hidden]="ocultarVerificar " >    
    <div class="col-lg-10 resultado">        
        <button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button>        
      </div>    
  </div>
</form>