.operador, .operando, .igual{font-size:5em;}
.operador{

}
.operando{

}
.igual{

}
input{ 
    width: 5em;    
    position: relative;
    font-size: 5em;
    background-color: transparent;
    border: thin solid;
    margin: 0;
    padding: 0;
}