<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Sala de Juegos</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/Principal">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Portada</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Sala de Juegos
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages"  aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Juegos</span>
    </a>
    <div id="collapsePages" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" routerLink="/Juegos/Adivina">Adivina</a>
          <a class="collapse-item" routerLink="/Juegos/Agilidad" >Agilidad</a>
          <a class="collapse-item" routerLink="/Juegos/Tateti" >Ta Te Ti</a>
          <a class="collapse-item" routerLink="/Juegos/PiedraPapelTijera" >Piedra Papel o Tijera</a>
          <a class="collapse-item" routerLink="/Juegos/Anagrama" >Anagrama</a>
          <a class="collapse-item" routerLink="/Juegos/Simon" >Simon</a>
      </div>
    </div>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseListados"  aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Listados</span>
    </a>
    <div id="collapseListados" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" routerLink="/Listados/Jugadores">Jugadores</a>
          <a class="collapse-item" routerLink="/Listados/Resultados" >Resultados</a>
      </div>
    </div>
  </li>

  <li class="nav-item ">
      <a class="nav-link" routerLink="/Configuracion">
        <span>Configuracion</span>
      </a>
  </li>
  <li class="nav-item ">
      <a class="nav-link" routerLink="/QuienSoy">
        <span>¿Que es esto?</span>
      </a>
  </li>



  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <!-- Sidebar Toggler (Sidebar)
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
   -->
</ul>
<!-- End of Sidebar -->
