h2 {
  font-size: 1em;
}
button,
span {
  display: block;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-color:#999;
}
span {
  text-align: center;
  line-height: 100px;
  font-size:50px;
  background-color:red;
  cursor:initial;
}
span.bloqueado{
  background-color:#999;
}
button {
  cursor: pointer;
  text-indent: -9999em;
}
button:disabled {
  cursor: auto;
}
table {
  border: collapse;
}
td.superior {
  border-top: bold solid black;
}
td.inferior {
  border-bottom: bold solid black;
}
td.derecho {
  border-right: bold solid black;
}
td.izquierdo {
  border-left: bold solid black;
}
