<div class="row">
    <div class="col-lg-12">
      <h1>{{ nuevoJuego.nombre }}!</h1>
      <app-ayuda ></app-ayuda>
      <strong>Elegi entre Piedra, Papel o Tijera la Maquina hara lo mismo </strong>          
    </div>
</div>
<div class="row ">        
      <div class="col-lg-1">              
      </div>
      <div class="col-lg-10">        
          <img  *ngIf="permitidoJugar"  (click)="JugarPiedra()" class="piedra" alt="piedra" src="./assets/imagenes/piedra.png" />
          <img  *ngIf="permitidoJugar"  (click)="JugarPapel()"  class="papel" alt="papel" src="./assets/imagenes/papel.png"  />
          <img  *ngIf="permitidoJugar"  (click)="JugarTijera()"  class="tijera" alt="tijera" src="./assets/imagenes/tijera.png" />
      </div>
      <div class="col-lg-1">              
        </div>      
</div>
